
# Other solution ?
# https://forums.opensuse.org/showthread.php/522805
# SUBSYSTEMS=="usb", ATTRS{idVendor}=="0b33", MODE:="660", GROUP="input"

ATTRS{idVendor}=="0b33", ATTRS{name}=="Contour Design ShuttlePRO v2", ACTION=="add", MODE="0644"
ATTRS{idVendor}=="0b33", ATTRS{name}=="Contour Design ShuttlePRO v2", ACTION=="remove", RUN+="/usr/bin/pkill shuttle-go"
