externals/

.vscode
*.tmp
tmp/
node_modules
vendor

!repo/.gitkeep
repo/*
softs
/bin/.mountPrivate.swp

md5sums

*.dockerbuild
*.deb
jehon-debs_*
*.build
debian.1

jehon-env-minimal/usr/bin/shuttle-go
