Source: jehon-debs
Section: unknown
Priority: extra
Maintainer: Jean Honlet <marielineet.jean@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.bitbucket.org/jehon/packages/
Vcs-Git: git@bitbucket.org:jehon/packages.git
Vcs-Browser: https://bitbucket.org/jehon/packages/


##########################
#
# Base
#
##########################

Package: jehon-base-minimal
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
	dpkg (>= 1.17.14)
Provides: jehon-base-repositories, jehon-env-home
Conflicts: jehon-base-repositories, jehon-env-home
Depends: ${misc:Depends},
	debconf, sed,
	bash,
	sudo,
	sshpass,
	curl,
	lsb-release,
 	apt-transport-https,
	debfoster,
	ntp,
	openssh-server, openssh-client,
	nmap,
	parted,
	screen,
	multitail,
	less,
	fdupes,
	cifs-utils,
	htop,
	libexiv2-dev, exiftran,
	python-pkg-resources,
	jq,
	samba,
	lftp,
	entr,
	gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly,
	exif, libimage-exiftool-perl,
	gnupg2, dirmngr,
	rsync,
	git,
	gettext-base,
	xvfb,
	shellcheck,
	libnss3-dev,
	libatk1.0-dev,
	encfs,
	thefuck,
	ufw,
	git-crypt,
	imagemagick-6.q16
Description: Jehon minimal hooks

Package: jehon-base-thirdparties
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
	dpkg (>= 1.17.14)
Depends: jehon-base-minimal,
	nodejs,
	docker-ce, docker-ce-cli, containerd.io
Description:
	Install third parties from external sources

##########################
#
# Env
#
##########################

Package: jehon-env-desktop
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Provides: jehon-system-private
Conflicts: jehon-system-private
Depends: ${misc:Depends}
	jehon-base-thirdparties,
	git-cola,
	xclip,
	gparted,
	pdfsam,
	activity-log-manager,
	terminator,
	xtermcontrol,
	meld,
	exfat-fuse, exfat-utils,
	xprintidle,
	snapd,
	libgtk2.0-0, libnotify-dev, libgconf-2-4, libnss3, libxss1, libasound2,
	google-chrome-stable
Description: Jehon environnement

##########################
#
# system's
#
##########################

Package: jehon-system-tv
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
	jehon-base-minimal,
	build-essential, rbp-userland-dev-osmc, libvncserver-dev, libconfig++-dev,
Description: Jehon environnement
