Package: jehon-system-bridge
Section: unknown
Priority: extra
Maintainer: jehon <jehon@archange>
Version: 1
Architecture: all
Conflicts: jehon-bridge
Replaces: jehon-bridge
Pre-Depends: jehon-base-minimal
Depends: jehon-env-common,
	iptables,
  net-tools,
  ndisc6
Description: Jehon common hooks
 Jehon common hooks
